

.main {
  min-height: 100vh;
  padding: 6rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.title  {
  font-family: "San Francisco", sans-serif;
  letter-spacing: -4px !important;
  font-smooth: auto;
  font-size: 6rem !important;
  text-decoration: none;
  background: linear-gradient(90deg, #ffffff, #c3b8f9, #ffffff, #aed9ae, #ffffff, #c3b8f9, #ffffff);
  background-size: 400% 100%; /* Increase the size of the gradient to cover the entire text */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 12s infinite linear;
 
}


@keyframes shimmer {
  0% {
    background-position: 100% 0; 
  }
  
  100% {
    background-position: -100% 0; 
  }
}


.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
  

.title,
.description {
  text-align: center;
}

.subtitle {
  margin: 2rem 12px;
  text-align: center;
  line-height: 1.15;
  font-size: 1.5rem;
  font-weight: 100;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
  max-width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  padding: 1.5rem 2rem;
  text-align: left;
  color: #c0c0c0; /* Silvery color */
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
  width: 100%;
  position: relative;
  overflow: hidden;

}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  
 
}
@media (min-width: 1024px){
  .card:before {
    background: radial-gradient(
      circle at var(--cursorX, 0%) var(--cursorY, 0%),
      rgba(50, 50, 50, 0.9) 0%, rgba(50, 50, 50, 0) 90%
    );
    opacity: 0;
    transition: opacity 0.3s;
  }

}

@keyframes shine {
  0%, 100% {
    box-shadow: 0 0 10px 5px #eaeaea;
  }
  25% {
    box-shadow: 0 0 10px 5px #eaeaea, 20px 0 30px 10px #eaeaea;
  }
  50% {
    box-shadow: 0 0 10px 5px #eaeaea, 40px 0 30px 10px #eaeaea;
  }
  75% {
    box-shadow: 0 0 10px 5px #eaeaea, 20px 0 30px 10px #eaeaea;
  }
}

.card:hover:before {
  opacity: 1;
  animation: shine 1s infinite linear; /* Added shine animation */
}

.card:hover,
.card:focus,
.card:active {
  color: #d3d3d3; /* Lighter silvery color on hover/focus */
}


.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  z-index: 99;
}

.card p {
  z-index: 99;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.projectLinks {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .projectLinks {
    justify-content: space-between;
  }
}

.codeButton,
.liveButton {
  font-size: 16px;
  padding: 0.6rem 2rem; 
  border: 0.25px solid #C0C0C0;
  border-radius: 5px;
  background-color: #000000; 
  color: #C0C0C0; 
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s; 
  z-index: 99;
  font-weight: 100;
}

.codeButton:hover,
.liveButton:hover {
  transform: scale(1.01);
}

.codeButton:active,
.liveButton:active {
  transform: translateY(1px); 
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(1);
  }
}
